<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <style>
        .container{
            width: 1200px;
        }
    </style>
    <img src="https://jscheng-img.oss-cn-shanghai.aliyuncs.com/logo.png" alt="logo" hidden>
    <%- partial('_partial/loading') %>
    <%- partial('_partial/menu') %>
    <main id="main">
        <%- body %>
        <%- partial('_partial/footer') %>
    </main>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/script') %>
</body>
</html>
